/* CSS Reset */

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/* Generics */

header
{
    display:flex;
    flex-direction:column;
    background-color:#ADD8E6;
    height:500px;
}

/* Utilities */

.width-70
{
    width:70%;
}

.borders
{
    border:2px dashed black;
}

/* Navigation bar */

.navigation-container
{
    display:flex;
    background-color:#DAA520;
    height:40px;
    margin:15px auto;
}

.nav-aside
{
    width:20%;
    height:100%;
}

.navigation
{
    width:60%;
    height:100%;
}

/* Introduction */

.introduction-flex
{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:calc(100% - 70px);
    background-color:#00008B;
}

.introduction-container
{
    background-color:#EE82EE;
    width:50%;
    height:80%;
}